body{
background-image: url("../img/11.jpg");
  background-color: #cccccc;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  background-attachment: fixed;
  ;
}
fieldset {
  position: relative;
  z-index: 1;
  background: white;
  max-width: 450px;
  margin: auto;
  padding: 100px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 8px 5px 0 rgba(0, 0, 0, 0.24);
}
input{
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: auto;
  padding: 15px; 
  font-size: 14px;
}
textarea{
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: auto;
  padding: 15px; 
  font-size: 14px;
}
select{
  outline: 0;
  background: #f2f2f2;
  width: 109%;
  border: 0;
  margin: auto;
  padding: 15px; 
  font-size: 14px;
}

#subb{
  width: 20%;
  background-color: #DC143C;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  font-size: 18px;
  margin: auto;
  opacity: 0.8;
  transition: 0.4s;
  cursor: pointer;
}
#subb:hover {opacity: 1;
background: #76b852;}

h1 {
      text-align: center;
      color: white;
}
span {
  color: red;
}